* {
  box-sizing: border-box;
}


hmtl {
  font-size: 62.5%;
}


/******************************************
/* BASE STYLES
/*******************************************/
h1 {
    font-size: 30rem;
}


body {
    
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/